Source: mediaweb
Section: web
Priority: optional
Maintainer: Joel Midstjärna <joel.midstjarna@gmail.com>
Version: __VERSION__
Homepage: https://github.com/midstar/mediaweb
Package: mediaweb
Architecture: __ARCHITECTURE__
Installed-Size: __SIZE__
Depends: systemd
Recommends: ffmpeg
Description: MediaWEB
 MediaWEB is a small self-contained web server software to enable you to access your photos and videos over the Internet in your WEB browser.
 